<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-white.png" alt="logo" width="264" height="78"></a>
            <p>
                Connect With David:
            </p>
            <div class="wrapper">
                <a href="https://www.facebook.com/profile.php?id=100086551685271" class="icon facebook" target="_blank" rel="noopener noreferrer">
                    <span><i class="fab fa-facebook-f"></i></span>
                </a>
                <a href="https://twitter.com/McelweePage?t=2ldCIn0fChBy4aMD9mREtA&s=09" class="icon twitter" target="_blank" rel="noopener noreferrer">
                    <span><i class="fab fa-twitter"></i></span>
                </a>
            </div>
            <a href ="https://www.facebook.com/groups/247942571904269/ " class = "smethport">You Might Be From Smethport...</a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/myafterlife">My Afterlife</a>
                    </li>
                    <li>
                        <a href="/events">Events</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="mailto: domenicdicosimo@gmail.com" target="_blank" rel="noopener">Out of this World Web Design</a>
        <span class="copyright"> Copyright 2023 - Present</span>
    </div>
</footer>