/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, .7em);
    /* using ems so we can use font size to scale the whole section */
    width: 25.4375em;
    height: 46.3125em;
    position: relative;
  }
  #sbs-r .cs-picture {
    /* clips img tag corners */
    overflow: hidden;
    position: absolute;
    display: block;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    width: 32.5em;
    height: 51.3125em;
    right: 0;
    top: 0;
  }
  #sbs-r .cs-picture2 {
    width: 25.875em;
    height: 25em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #ffffff;
    left: 0;
    bottom: 0;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #sbs-r .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #sbs-r .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #F7F7F7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs-r .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #767676;
  }
  #sbs-r .cs-name {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-r .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #767676;
    display: block;
  }
  #sbs-r .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right */
    order: 2;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs-r .cs-left:before,
  body.dark-mode #sbs-r .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs-r .cs-title,
  body.dark-mode #sbs-r .cs-text,
  body.dark-mode #sbs-r .cs-h3,
  body.dark-mode #sbs-r .cs-flex-p,
  body.dark-mode #sbs-r .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .8;
  }
  body.dark-mode #sbs-r .cs-quote-icon {
    opacity: .2;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #reviews {
    padding-top: 7.5rem;
    padding-bottom: 3.125rem;
    margin: auto;
    text-align: center;
  }
  #reviews .title-container {
    width: 100%;
    max-width: 69rem;
    margin: auto;
  }
  #reviews .topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }
  #reviews .title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 8rem;
    color: var(--headerColor);
    position: relative;
  }
  #reviews .review-container {
    width: 96%;
    max-width: 82.5rem;
    margin: auto;
  }
  #reviews .review {
    padding: 4rem 1.875rem 1.125rem 1.875rem;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 25.625rem;
    margin: auto;
    margin-bottom: 6.25rem;
    border-radius: 0.3125rem;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
  }
  #reviews .review:last-of-type {
    margin-bottom: 0;
  }
  #reviews .review .profile {
    display: block;
    height: 6.1875rem;
    width: 6.1875rem;
    margin-left: 0;
    border-radius: 50%;
    margin-bottom: 1rem;
    position: absolute;
    left: 1.875rem;
    top: -3.1875rem;
  }
  #reviews .review p {
    line-height: 1.33333333;
    margin-bottom: 1.75rem;
    text-align: left;
  }
  #reviews .review .star-group {
    border-top: 1px solid #E7E7E7;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: auto;
  }
  #reviews .review .star-group .name {
    color: #1A1A1A;
    line-height: 1.5rem;
    text-align: left;
    font-weight: bold;
    display: block;
  }
  #reviews .review .star-group .desc {
    color: #575757;
    font-weight: 400;
    display: block;
  }
  #reviews .review .star-group img {
    display: block;
    width: 5.6875rem;
    height: 0.9375rem;
    margin: 0;
  }
  #reviews .button-solid {
    margin-top: 2rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #reviews {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
  }
  #reviews .review-container {
    font-size: min(1.4vw, 1em);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 1.875rem;
  }
  #reviews .review {
    margin: 0;
    margin-bottom: 9.375rem;
  }
  #reviews .review:last-of-type {
    margin-bottom: 9.375rem;
  }
  #reviews .button-solid {
    margin-top: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews .review {
    background: var(--medium);
  }
  body.dark-mode #reviews .review .name {
    color: #fff;
  }
  body.dark-mode #reviews .review .desc {
    color: #fff;
    opacity: .7;
  }
  body.dark-mode #reviews .title {
    color: #fff;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #fvf *:before {
    box-sizing: border-box;
  }
  #fvf *:after {
    box-sizing: border-box;
  }
  #fvf body {
    background: #ffffff;
    color: #4d5974;
    display: flex;
    font-family: 'Hind', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
  }
  #fvf .container {
    margin: 0 auto;
    padding: 2rem;
    padding-top: 7.5rem;
    padding-bottom: 6rem;
    max-width: 76rem;
  }
  #fvf .container .title-container {
    width: 100%;
    max-width: 69rem;
    margin: auto;
  }
  #fvf .container .title-container .topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }
  #fvf .container .title-container .title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 43.75rem;
    margin: 0 auto 4rem;
    color: var(--headerColor);
    position: relative;
  }
  #fvf .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  #fvf .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #fa4b0f;
  }
  #fvf .accordion button {
    background: none;
    border: none;
    color: #403835;
    display: block;
    font-size: var(--bodyFontSize);
    font-weight: 400;
    outline: none;
    padding: 1em 0;
    position: relative;
    text-align: left;
    width: 100%;
  }
  #fvf .accordion button:hover {
    color: #fa4b0f;
    cursor: pointer;
  }
  #fvf .accordion button:hover:after {
    border: 1px solid #fa4b0f;
    color: #fa4b0f;
    cursor: pointer;
  }
  #fvf .accordion button:focus {
    color: #fa4b0f;
    cursor: pointer;
  }
  #fvf .accordion button:focus:after {
    border: 1px solid #fa4b0f;
    color: #fa4b0f;
    cursor: pointer;
  }
  #fvf .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  #fvf .accordion button .icon {
    border-radius: 22px;
    border: 1px solid;
    display: inline-block;
    height: 22px;
    position: absolute;
    right: 0;
    top: 18px;
    width: 22px;
  }
  #fvf .accordion button .icon:before {
    background: currentColor;
    content: '';
    display: block;
    height: 2px;
    left: 5px;
    position: absolute;
    top: 9px;
    width: 10px;
  }
  #fvf .accordion button .icon:after {
    background: currentColor;
    content: '';
    display: block;
    height: 10px;
    left: 9px;
    position: absolute;
    top: 5px;
    width: 2px;
  }
  #fvf button[aria-expanded='true'] {
    color: #fa4b0f;
  }
  #fvf button[aria-expanded='true'].icon:after {
    width: 0;
  }
  #fvf button[aria-expanded='true'] + .accordion-content {
    max-height: 9em;
    opacity: 1;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  #fvf .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  #fvf .accordion-content p {
    font-size: var(--bodyFontSize);
    font-weight: 300;
    margin: 2em 0;
  }
}
@media only screen and (min-width: 0em) {
  body.dark-mode #fvf .container .title-container .title {
    color: #fff;
  }
  body.dark-mode #fvf .accordion button {
    background: none;
    border: none;
    color: #fff;
    display: block;
    font-size: var(--bodyFontSize);
    font-weight: 400;
    outline: none;
    padding: 1em 0;
    position: relative;
    text-align: left;
    width: 100%;
  }
  body.dark-mode #fvf .accordion button:hover {
    color: #fa4b0f;
    cursor: pointer;
  }
  body.dark-mode #fvf .accordion button:hover:after {
    border: 1px solid #fa4b0f;
    color: #fa4b0f;
    cursor: pointer;
  }
  body.dark-mode #fvf .accordion button:focus {
    color: #fa4b0f;
    cursor: pointer;
  }
  body.dark-mode #fvf .accordion button:focus:after {
    border: 1px solid #fa4b0f;
    color: #fa4b0f;
    cursor: pointer;
  }
  body.dark-mode #fvf .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  body.dark-mode #fvf .accordion button .icon {
    border-radius: 22px;
    border: 1px solid;
    display: inline-block;
    height: 22px;
    position: absolute;
    right: 0;
    top: 18px;
    width: 22px;
  }
  body.dark-mode #fvf .accordion button .icon:before {
    background: currentColor;
    content: '';
    display: block;
    height: 2px;
    left: 5px;
    position: absolute;
    top: 9px;
    width: 10px;
  }
  body.dark-mode #fvf .accordion button .icon:after {
    background: currentColor;
    content: '';
    display: block;
    height: 10px;
    left: 9px;
    position: absolute;
    top: 5px;
    width: 2px;
  }
  body.dark-mode #fvf button[aria-expanded='true'] {
    color: #fa4b0f;
  }
  body.dark-mode #fvf button[aria-expanded='true'].icon:after {
    width: 0;
  }
  body.dark-mode #fvf button[aria-expanded='true'] + .accordion-content {
    max-height: 9em;
    opacity: 1;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  body.dark-mode #fvf .accordion-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  body.dark-mode #fvf .accordion-content p {
    font-size: var(--bodyFontSize);
    font-weight: 300;
    margin: 2em 0;
  }
}
/*-- -------------------------- -->
<---             CTA            -->
<--- -------------------------- -*/
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta .container form {
    display: flex;
    flex-wrap: wrap;
  }
  #cta .container input {
    font-size: 1.2rem;
    border-radius: 0.25rem;
    border-color: rgba(88, 88, 88, 0.15);
    padding: 0.75rem 0 0.75rem 1rem;
    margin: 5px;
  }
  #cta .container #name {
    flex: 1 1 10ch;
  }
  #cta .container #email {
    flex: 3 1 0;
  }
  #cta .container #robot {
    display: none;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("/assets/svgs/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
